.error-container {
    width: 500px;
    height: 200px;
    background-color: white;
    padding: 15px;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .words-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .message {
            margin-top: 5px;
            word-wrap: break-word;
        }
    }
}