* {
    box-sizing: border-box;
}

.login-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	margin: 0;
	padding: 0;
	background: rgb(52, 126, 196) no-repeat center center fixed;
	background-size: cover;
	display: flex;
	align-items: center;
    height: 100vh;
    
    .form {
        width: 415px;
        margin: 0 auto;
        background: rgb(247, 245, 245);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        padding: 45px;
        border-radius: 4px;
        border: #ccc 1px solid;

        p {
            text-align: center;
        }

        .inputs {
            display: flex;
            flex-direction: column;
        }

        input, button {
            width: 100%;
            padding: 14px 24px;
            font-size: 16px;
            margin-bottom: 15px;
            color: #444;
            border: 1px solid #ddd;
            box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .05);
            transition: box-shadow 300ms ease-out, opacity 300ms linear;
        }

        input:focus {
            outline: 0;
            border-color: #8c8c8c
        }

        .title {
            align-self: center;
            height: 50px;
            width: 152px;
            line-height: 1;
            margin-bottom: 20px;
            font-size: 30px;
        }

        .login-btn {
            background-color: #0dad55;
            border-color: #0aa859;
            color: #fff;
            font-weight: 700;
            cursor: pointer
        }
    }
}
